body{
	background-color: lightgrey;
}

div#container {
	margin:1%;
}

div#hoofding {
	margin: 0;
	background-image: url(../images/intro.jpg);
	background-color: black;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
}

div#hoofding>h1 {
	text-align: center;
	color: white;
}


h3 {
	margin: 5px, 0;
}

ul#vlaggen {
	margin: auto;
	width: 57%
}

ul#vlaggen>li.nav>a.vlag-link {
	padding: 0;
	margin: auto;
	width: 8%
}

ul#vlaggen>li.nav{
	margin:0.3rem;
}

li.nav{
	list-style: none;
	display: inline-block;
}

li.wijnen{
	margin=0;
	padding= 0;
}

table#tablewijn{
	margin-bottom: 20px;
	border: none;
}

td.wijn{
	font-weight: bold;
}

td.tdlinks{
	width: 270px;
}

dl#aantalflessen>dd{
	margin-left: 0;
}

a#mandjelink{
	margin:auto;
}

img#mandjeimg{
	margin:auto;
}

table#tablemandje{
	border-collapse: collapse;
}

table#tablemandje, table#tablemandje>thead>tr>th, table#tablemandje>tbody>tr>td, table#tablemandje>tfoot>tr>td{
	border: 1px solid black;
}


table#tablemandje>thead{
	background-color: grey;
	color: white;
}

table#tablemandje>tfoot>tr>td {
	background-color: white;
}

dd.klant {
	margin-left: 0;
	margin-bottom: 10px;
}

dd.klant>input {
	width:30%;
}

input#bonsubmit{
	margin-top: 10px;
}

span.fout{
	color: red;
	font-weight: bold;
}


